/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800italic,800,300,300italic);*/
/*noinspection CssUnknownTarget*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import 'https://fonts.googleapis.com/css?family=Catamaran';

html {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    width: 80% !important;
}

.card-title {
    font-weight: 400 !important;
}

nav .brand-logo {
    margin-left: 1em;
}

@media only screen and (min-width: 0) {
    .button-collapse {
        margin-left: 1em;
    }
}

main {
    flex: 1 0 auto;
}

footer {
    font-weight: 200;
    font-size: 80% !important;
}

footer .btn {
    height: auto !important;
    line-height: 5px !important;
    padding: 0.5em !important;
}

ul#talksList {
    height: 25vh;
    overflow: hidden;
    overflow-y: auto;
}

@media only screen and (min-width: 601px) {
    ul#etcList {
        height: 25vh;
        white-space: nowrap;
    }
}

ul#talksList a {
    color: #00235a;
}

.card-content ul {
    padding: 0 0 0 2em;
}

.card-content ul li {
    list-style-type: disc;
}

.brand-logo {
	font-family: 'Catamaran';
	font-weight:700;
	font-size:2.5rem;
};