/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800italic,800,300,300italic);*/
/*noinspection CssUnknownTarget*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {width: 80% !important;}
.card-title {font-weight: 400 !important;}

nav .brand-logo {
    margin-left: 1em;
}

@media only screen and (min-width: 0) {
    .button-collapse {
        margin-left: 1em;
    }
}

main {
    flex: 1 0 auto;
}

footer {
    font-weight: 200;
    font-size: 80% !important;
}

footer .btn {
    height: auto !important;
    line-height: 5px !important;
    padding: 0.5em !important;
}

ul#talksList {
    height: 50vh;
    /*max-height:100%;*/
    overflow: hidden;
    overflow-y: auto;
}

ul#talksList a {
    color: #00235a;
}