/*LAYOUT*/
html, body {height: 100%; margin: 0; padding: 0;}
#sidebar {width: 20%; height: 100%;  border-right: 1px solid #555; padding: 1em 0.5em 0.5em 0.5em; float: left;}
#menu {margin: 0; padding: 0;}
#counter {text-align: center;}
#content {width: 75%; height: 100%; margin-left: 2%; float: left; }

/*TYPOGRAPHY*/
html {font-size: 62.5%; overflow: auto;}
body {font-size: 1.5em; line-height: 1.6; font-weight: 400; font-family: 'Open Sans', sans-serif; color:  #222; overflow: auto;}
a {background-color:  transparent; text-decoration: none;}
a:active, a:hover {outline: 0;}
p {margin: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 600; margin: 0;}
h1.photo {margin-top: 0.2em;}
div.menu > h2:nth-child(2) {margin-top: 10rem;}
p.description {font-weight: 300; text-align: right; color: #777; margin: 0; line-height: 1;}
p.date {font-weight: 300; font-size: 1.3rem; margin-bottom: 0.5rem;}
p.menu {font-size: 1.3rem; font-weight: 600;}
p.photo, ul.photo {font-size: 1.1rem; font-weight: 300; line-height: 1;}
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: 0.25em;}
#counter > p {font-size: 1rem; color:#555;}
#content > p {font-size: 1rem; color: #555;}

/*IMAGE*/
/*img.logo {width: 100%;}
img.photo {width: 100%;}*/
img {width: 100%;}
img.photo {margin-top: 1em;}